{% set arAppliedPropertyList = input('property') %}

{# Get product collection #}
{% set obProductList = ProductList.make().sort(ProductList.getSorting()).active().category(obActiveCategory.id, true) %}

{# Get product proeprties for property sets with code 'main', enabled how filters #}
{% set obProductPropertyList = obActiveCategory.product_filter_property.setCategory(null).setProductList(obProductList) %}

{# Get offer proeprties for property sets with code 'main', enabled how filters #}
{% set obOfferPropertyList = obActiveCategory.offer_filter_property.setCategory(null).setProductList(obProductList) %}

{# Render filter panel #}
{% if obProductPropertyList.isNotEmpty() or obOfferPropertyList.isNotEmpty() %}
    <div>
        {% partial 'product/filter-panel/filter-panel' obPropertyList=obProductPropertyList arAppliedPropertyList=arAppliedPropertyList %}
        {% partial 'product/filter-panel/filter-panel' obPropertyList=obOfferPropertyList arAppliedPropertyList=arAppliedPropertyList %}
    </div>
{% endif %}

{# Apply filter by properties #}
{% set obProductList = obProductList.filterByProperty(arAppliedPropertyList, obProductPropertyList).filterByProperty(arAppliedPropertyList, obOfferPropertyList) %}

{# Get array with pagination buttons #}
{% set iPage = Pagination.getPageFromRequest() %}
{% set iCount = obProductList.count() %}

{# Apply pagination to product collection and get array with product items #}
{% set arProductList = obProductList.page(iPage, Pagination.getCountPerPage()) %}

{% if arProductList is not empty %}
    {# Render product list #}
    <ul>
        {% for obProduct in arProductList %}
            <li>{% partial 'product/product-card/product-card' obProduct=obProduct %}</li>
        {% endfor %}
    </ul>

    {% partial 'pagination/pagination' iCount=iCount iPage=iPage %}
{% else %}
    <div>
        Products not found
    </div>
{% endif %}