{% set obOffer = obOrderPosition.item %}
{% set obProduct = obOffer.product %}
{% set obPriceData = obOrderPosition.price_data %}

<div>{{ obProduct.name }}</div>
{# Render price block #}
<table>
    <tr>
        <th></th>
        <th>Price without tax ({{ obOrderPosition.currency_symbol }})</th>
        <th>Tax percent</th>
        <th>Tax price ({{ obOrderPosition.currency_symbol }})</th>
        <th>Price with tax ({{ obOrderPosition.currency_symbol }})</th>
    </tr>
    <tr>
        <td>Price:</td>
        <td>{{ obPriceData.price_without_tax }}</td>
        <td>{{ obOffer.tax_percent }}</td>
        <td>{{ obPriceData.tax_price }}</td>
        <td>{{ obPriceData.price_with_tax }}</td>
    </tr>
    <tr>
        <td>Old price:</td>
        <td>{{ obPriceData.old_price_without_tax }}</td>
        <td>{{ obOffer.tax_percent }}</td>
        <td>{{ obPriceData.tax_old_price }}</td>
        <td>{{ obPriceData.old_price_with_tax }}</td>
    </tr>
    <tr>
        <td>Discount price:</td>
        <td>{{ obPriceData.discount_price_without_tax }}</td>
        <td>{{ obOffer.tax_percent }}</td>
        <td>{{ obPriceData.tax_discount_price }}</td>
        <td>{{ obPriceData.discount_price_with_tax }}</td>
    </tr>
</table>