title = "Cart page"
url = "/cart"
layout = "main"
is_hidden = 0

[Cart]
==
{# Get cart positions #}
{% set obCartPositionList = Cart.get() %}
{% if obCartPositionList.isNotEmpty() %}
    <ul>
        {% for obCartPosition in obCartPositionList %}
            <li>{% partial 'product/cart-position/cart-position' obCartPosition=obCartPosition %}</li>
        {% endfor %}
    </ul>

    {% set obPriceData = obCartPositionList.getTotalPriceData() %}
    {# Render price block #}
    <table>
        <tr>
            <th></th>
            <th>Price without tax ({{ obCartPositionList.getCurrency() }})</th>
            <th>Tax price ({{ obCartPositionList.getCurrency() }})</th>
            <th>Price with tax ({{ obCartPositionList.getCurrency() }})</th>
        </tr>
        <tr>
            <td>Price:</td>
            <td>{{ obPriceData.price_without_tax }}</td>
            <td>{{ obPriceData.tax_price }}</td>
            <td>{{ obPriceData.price_with_tax }}</td>
        </tr>
        <tr>
            <td>Old price:</td>
            <td>{{ obPriceData.old_price_without_tax }}</td>
            <td>{{ obPriceData.tax_old_price }}</td>
            <td>{{ obPriceData.old_price_with_tax }}</td>
        </tr>
        <tr>
            <td>Discount price:</td>
            <td>{{ obPriceData.discount_price_without_tax }}</td>
            <td>{{ obPriceData.tax_discount_price }}</td>
            <td>{{ obPriceData.discount_price_with_tax }}</td>
        </tr>
    </table>
{% else %}
    <div>Cart is empty</div>
{% endif %}