title = "Order page"
url = "/order/:slug"
layout = "main"
is_hidden = 0

[OrderPage]
slug = "{{ :slug }}"
==
{# Get order object #}
{% set obOrder = OrderPage.get() %}
<div data-id="{{ obOrder.id }}">
    <h1>{{ obOrder.order_number }}</h1>
</div>
{# Get order positions #}
{% set obOrderPositionList = Order.order_position %}
{% if obOrderPositionList.isNotEmpty() %}
    <ul>
        {% for obOrderPosition in obOrderPositionList %}
            <li>{% partial 'order/order-position/order-position' obOrderPosition=obOrderPosition %}</li>
        {% endfor %}
    </ul>

    <div>Price block with total price of order positions</div>
    {% set obPriceData = obOrder.position_total_price_data %}
    {# Render price block with total price of order positions #}
    <table>
        <tr>
            <th></th>
            <th>Price without tax ({{ obOrder.currency_symbol }})</th>
            <th>Tax price ({{ obOrder.currency_symbol }})</th>
            <th>Price with tax ({{ obOrder.currency_symbol }})</th>
        </tr>
        <tr>
            <td>Price:</td>
            <td>{{ obPriceData.price_without_tax }}</td>
            <td>{{ obPriceData.tax_price }}</td>
            <td>{{ obPriceData.price_with_tax }}</td>
        </tr>
        <tr>
            <td>Old price:</td>
            <td>{{ obPriceData.old_price_without_tax }}</td>
            <td>{{ obPriceData.tax_old_price }}</td>
            <td>{{ obPriceData.old_price_with_tax }}</td>
        </tr>
        <tr>
            <td>Discount price:</td>
            <td>{{ obPriceData.discount_price_without_tax }}</td>
            <td>{{ obPriceData.tax_discount_price }}</td>
            <td>{{ obPriceData.discount_price_with_tax }}</td>
        </tr>
    </table>

    <div>Price block with total price of order</div>
    {% set obPriceData = obOrder.total_price_data %}
    {# Render price block with total price of cart #}
    <table>
        <tr>
            <th></th>
            <th>Price without tax ({{ obOrder.currency_symbol }})</th>
            <th>Tax price ({{ obOrder.currency_symbol }})</th>
            <th>Price with tax ({{ obOrder.currency_symbol }})</th>
        </tr>
        <tr>
            <td>Price:</td>
            <td>{{ obPriceData.price_without_tax }}</td>
            <td>{{ obPriceData.tax_price }}</td>
            <td>{{ obPriceData.price_with_tax }}</td>
        </tr>
        <tr>
            <td>Old price:</td>
            <td>{{ obPriceData.old_price_without_tax }}</td>
            <td>{{ obPriceData.tax_old_price }}</td>
            <td>{{ obPriceData.old_price_with_tax }}</td>
        </tr>
        <tr>
            <td>Discount price:</td>
            <td>{{ obPriceData.discount_price_without_tax }}</td>
            <td>{{ obPriceData.tax_discount_price }}</td>
            <td>{{ obPriceData.discount_price_with_tax }}</td>
        </tr>
    </table>
{% endif %}